<div class="col">
    <button type="button" (click)="onClickAddision()" class="btn btn-primary">+</button>
    <button type="button" (click)="onClickMinus()" class="btn btn-primary">-</button>
    <button type="button" (click)="onClickDivision()" class="btn btn-primary">/</button>

</div>

<div class="col">
    <button type="button" (click)="onClickMultiplication()" class="btn btn-primary">*</button>
    <button type="button" (click)="onClickAPower()" class="btn btn-primary">^</button>
    <button type="button" (click)="onClickSquare()" class="btn btn-primary">CE</button>

</div>